.eye{
    text-align: center;
    width: 250px;
    height: 250px;
    padding: 15px;
    border: 15px black;
    margin: 15px;
    background-color: darkgray;
}
.boobs{
    text-align: center;
}
/* Set the background color of body to tan */
body {
    background-color: tan;
  }

  /* On screens that are 992px or less, set the background color to blue */
  @media screen and (max-width: 992px) {
    body {
      background-color: gray;
    }
  }

  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    body {
      background-color: olive;
    }
  }
